<legend>Configure Bug Field Options</legend>
<div class="row">
<div class="col-md-3">
  	<form class="form-horizontal">
<fieldset>
<!-- Form Name -->
<h5>Users ({{config.users.length}})</h5>

<!-- Select Multiple -->
<div class="form-group">
    <select ng-model="users" id="users" name="users" class="form-control " multiple="multiple" style="height: 500px;">
    <option ng-repeat="(key, user) in config.users.sort()"  value="{{key}}">
  {{user.name}} - {{user.email}} </option>
    </select>
</div>

<!-- Text input -->
<div class="form-group">
  <input ng-model="newuseremail" id="newuseremail" name="newuseremail" type="text" placeholder="email" class="form-control input-md"><br>
   <input ng-model="newusername" id="newusername" name="newusername" type="text" placeholder="full name" class="form-control input-md"><br>
    <input ng-model="newuserusername" id="newuserusername" name="newuserusername" type="text" placeholder=" username" class="form-control input-md">
  <span class="help-block">help</span>  
</div>

<!-- Button (Double) -->
<div class="form-group">
    <button ng-click="addUser(newuseremail, newusername, newuserusername)" id="addnewuser" name="addnewuser" class="btn btn-success">Add</button>
    <button ng-click="deleteUser(users)" id="deleteuser" name="deleteuser" class="btn btn-danger">Delete</button>
</div>

</fieldset>
</form>
  </div>
  <div class="col-md-1"></div>

  <div class="col-md-2">
  	<form class="form-horizontal">
<fieldset>
<!-- Form Name -->
<h5>Kind ({{config.kind.length}})</h5>

<!-- Select Multiple -->
<div class="form-group">
    <select ng-model="kinds" id="kind" name="kinds" class="form-control" multiple="multiple">
    <option ng-repeat="kind in config.kind.sort()"  value="{{kind}}">{{kind}}</option>
    </select>
</div>

<!-- Text input -->
<div class="form-group">
  <input ng-model="newkind" id="newkind" name="newkind" type="text" placeholder="new kind" class="form-control input-md">
  <span class="help-block">help</span>  
</div>

<!-- Button (Double) -->
<div class="form-group">
    <button ng-click="addKind(newkind)" id="addnewkind" name="addnewkind" class="btn btn-success">Add</button>
    <button ng-click="deleteKind(kinds)" id="deletekind" name="deletekind" class="btn btn-danger">Delete</button>
</div>

</fieldset>
</form>
  </div>

  <div class="col-md-1"></div>

    <div class="col-md-2">
  	<form class="form-horizontal">
<fieldset>
<!-- Form Name -->
<h5>Platforms ({{config.platform.length}})</h5>

<!-- Select Multiple -->
<div class="form-group">
    <select ng-model="platforms" id="platforms" name="platforms" class="form-control" multiple="multiple">
    <option ng-repeat="platform in config.platform"  value="{{platform}}">{{platform}}</option>
    </select>
</div>

<!-- Text input -->
<div class="form-group">
  <input ng-model="newplatform" id="newplatform" name="newplatform" type="text" placeholder="new platform" class="form-control input-md">
  <span class="help-block">help</span>  
</div>

<!-- Button (Double) -->
<div class="form-group">
    <button ng-click="addPlatform(newplatform)" id="addnewplatform" name="addnewplatform" class="btn btn-success">Add</button>
    <button ng-click="deletePlatform(platforms)" id="deleteplatform" name="deleteplatform" class="btn btn-danger">Delete</button>
</div>

</fieldset>
</form>
  </div>

  <div class="col-md-1"></div>
  <div class="col-md-2">
  	  	<form class="form-horizontal">
<fieldset>
<!-- Form Name -->
<h5>Status ({{config.status.length}})</h5>

<!-- Select Multiple -->
<div class="form-group">
    <select ng-model="statuses" id="statuses" name="statuses" class="form-control" multiple="multiple">
  <option ng-repeat="status in config.status.sort()" value="{{status}}">{{status}}</option>
    </select>
</div>

<!-- Text input-->
<div class="form-group">
  <input ng-model="newstatus" id="newstatus" name="newstatus" type="text" placeholder="new status" class="form-control input-md">
  <span class="help-block">help</span>  
</div>

<!-- Button (Double) -->
<div class="form-group">
    <button ng-click="addNewStatus(newstatus)" id="addnewstatus" name="addnewstatus" class="btn btn-success">Add</button>
    <button ng-click="deleteStatus(statuses)" id="deleteStatus" name="deletestatus" class="btn btn-danger">Delete</button>
</div>

</fieldset>
</form>
  </div>
   <div class="col-md-1"></div>
  <div class="col-md-2">
 <form class="form-horizontal">
<fieldset>
<!-- Form Name -->
<h5>Categories ({{config.categories.length}})</h5>

<!-- Select Multiple -->
<div class="form-group">
    <select ng-model="categories" id="categories" name="categories" class="form-control" multiple="multiple">
  <option ng-repeat="category in config.categories.sort()" value="{{category}}">{{category}}</option>
    </select>
</div>

<!-- Text input-->
<div class="form-group">
  <input ng-model="newcategory" id="newcategory" name="newcategory" type="text" placeholder="new category" class="form-control input-md">
  <span class="help-block">help</span>  
</div>

<!-- Button (Double) -->
<div class="form-group">
    <button ng-click="addNewCategory(newcategory)" id="addNewCategory" name="addNewCategory" class="btn btn-success">Add</button>
    <button ng-click="deleteCategories(categories)" id="deleteCategory" name="deleteCategory" class="btn btn-danger">Delete</button>
</div>

</fieldset>
</form>
  </div>
   <div class="col-md-1"></div>
  <div class="col-md-2">
<form class="form-horizontal">
<fieldset>
<!-- Form Name -->
<h5>Versions ({{config.version.length}})</h5>

<!-- Select Multiple -->
<div class="form-group">
    <select ng-model="versions" id="versions" name="versions" class="form-control" multiple="multiple">
  <option ng-repeat="version in config.version.sort()" value="{{version}}">{{version}}</option>
    </select>
</div>

<!-- Text input-->
<div class="form-group">
  <input ng-model="newversion" id="newversion" name="newversion" type="text" placeholder="new version" class="form-control input-md">
  <span class="help-block">help</span>  
</div>

<!-- Button (Double) -->
<div class="form-group">
    <button ng-click="addNewVersion(newversion)" id="newversion" name="newversion" class="btn btn-success">Add</button>
    <button ng-click="deleteVersion(versions)" id="deleteversion" name="deleteversion" class="btn btn-danger">Delete</button>
</div>

</fieldset>
</form>
  </div>

 <div class="col-md-1"></div>
  <div class="col-md-2">
<form class="form-horizontal">
<fieldset>
<!-- Form Name -->
<h5>To fix in ({{config.tofixin.length}})</h5>

<!-- Select Multiple -->
<div class="form-group">
    <select ng-model="tofixins" id="tofixins" name="tofixins" class="form-control" multiple="multiple">
  <option ng-repeat="tofixin in config.tofixin.sort()" value="{{tofixin}}">{{tofixin}}</option>
    </select>
</div>

<!-- Text input-->
<div class="form-group">
  <input ng-model="newtofixin" id="newtofixin" name="newtofixin" type="text" placeholder="new fix-in version" class="form-control input-md">
  <span class="help-block">help</span>  
</div>

<!-- Button (Double) -->
<div class="form-group">
    <button ng-click="addNewFixin(newtofixin)" id="addnewfixin" name="addnewfixin" class="btn btn-success">Add</button>
    <button ng-click="deleteFixin(tofixins)" id="deletefixin" name="deletefixin" class="btn btn-danger">Delete</button>
</div>

</fieldset>
</form>
  </div>
<div class="col-md-1"></div>
    <div class="col-md-2">
  	<form class="form-horizontal">
<fieldset>
<!-- Form Name -->
<h5>Severity ({{config.severity.length}})</h5>

<!-- Select Multiple -->
<div class="form-group">
    <select ng-model="severities" id="severities" name="severities" class="form-control" multiple="multiple">
    <option ng-repeat="severity in config.severity.sort()"  value="{{severity}}">{{severity}}</option>
    </select>
</div>

<!-- Text input -->
<div class="form-group">
  <input ng-model="newseverity" id="newseverity" name="newseverity" type="text" placeholder="new severity" class="form-control input-md">
  <span class="help-block">help</span>  
</div>

<!-- Button (Double) -->
<div class="form-group">
    <button ng-click="addSeverity(newseverity)" id="addnewseverity" name="addnewseverity" class="btn btn-success">Add</button>
    <button ng-click="deleteSeverity(severities)" id="deleteseverity" name="deleteseverity" class="btn btn-danger">Delete</button>
</div>

</fieldset>
</form>
  </div>


</div>