<!-- <div class="jumbotron">
  <h1>'Allo, 'Allo!</h1>
  <p class="lead">
    <img src="images/yeoman.png" alt="I'm Yeoman"><br>
    Always a pleasure scaffolding your apps.
  </p>
  <p><a class="btn btn-lg btn-success" ng-href="#">Splendid!<span class="glyphicon glyphicon-ok"></span></a></p>
</div> -->
<!--  <div ng-include src="'views/partials/bugform.partial.html'"></div> -->

  <div class="row">
      <div class="col-md-12">
        <div class="well">
          <form class="form-horizontal" action="" method="post">
          <fieldset>
            <legend class="text-center">New Bug</legend>

<div class="form-group">
      <label class="col-md-2 control-label" for="name">Title</label>
       <div class="col-md-9">
         <div class="input-group">
  <div class="input-group-btn">
    <!-- Button and dropdown menu -->
  <select type="text" class="form-control" style="width: 100px">
                <option ng-selected="kind === 'Bug'" ng-repeat="kind in config.kind">{{kind}}</option>
              </select>
  </div>
 <input id="title" ng-model="title" name="title" type="text" placeholder="Bug title" class="form-control">
</div>
        </div>
</div>
    
            <!-- bug descrition  -->
            <div class="form-group">
              <label class="col-md-2 control-label" for="description">Description</label>
              <div class="col-md-9">
                <textarea class="form-control" ng-model="description" id="description" name="description" placeholder="Enter bug description here..." rows="8"></textarea>
                <!-- <p>  <textarea  angularte ng-model="descrizione"> bug descriotion </textarea></p> -->
               <!-- <text-angular ta-toolbar="[['h1','h2','h3','pre'],['bold'], ['italics']]"></text-angular> -->
              </div>
            </div>


            <div>
 <div class="form-group">
              <label class="col-md-2 control-label" for="moreinfo"></label>
               <div class="col-md-9">
  <accordion close-others="false">
    <accordion-group>
        <accordion-heading  is-open="status.isFirstOpen" is-disabled="status.isFirstDisabled">
            <i class="glyphicon" ng-class="{'glyphicon-chevron-down': status.open, 'glyphicon-chevron-right': !status.open}"></i>   Enter a sample query that exposes the bug
        </accordion-heading>
      <textarea class="form-control" ng-model="samplequery" ng-change="setQuery(samplequery)" id="samplequery" name="samplequery" placeholder="Provide sample query.." rows="8"></textarea>
    </accordion-group>
    <accordion-group>
     <accordion-heading>
            <i class="glyphicon" ng-class="{'glyphicon-chevron-down': status.open, 'glyphicon-chevron-right': !status.open}"></i>   Enter supporting sample data for the query above
        </accordion-heading>
      <textarea class="form-control" ng-model="sampledata" ng-change="setSampledata(sampledata)" id="sampledata" name="sampledata" placeholder="Provide sample data.." rows="8"></textarea>
    </accordion-group>
      <accordion-group>
      <accordion-heading>
            <i class="glyphicon" ng-class="{'glyphicon-chevron-down': status.open, 'glyphicon-chevron-right': !status.open}"></i>   Enter stacktrace
        </accordion-heading>
      <textarea class="form-control" ng-model="stacktrace" ng-change="setStacktrace(stacktrace)" id="stacktrace" name="stacktrace" placeholder="Provide stacktrace.." rows="8"></textarea>
    </accordion-group>
     <accordion-group is-open="true">
     <accordion-heading>
      <i class="glyphicon" ng-class="{'glyphicon-chevron-down': status.open, 'glyphicon-chevron-right': !status.open}"></i>  Other info
      </accordion-heading>  
      <div class="form-group">
              <label class="col-md-2 control-label" for="severity">Severity</label>
              <div class="col-md-3">
                <select id="severity" ng-model="severity"  ng-change="setSeverity(severity)" name="assignTo" type="text" class="form-control">
                    <option ng-repeat="severity in config.severity.sort()"  value="{{severity}}">
                    {{severity}}</option>
                </select>
              </div>
            </div>
              <div class="form-group">
              <label class="col-md-2 control-label" for="fixin">Fix in</label>
              <div class="col-md-3">
                <select id="tofixin" ng-model="tofixin" ng-change="setToFixIn(tofixin)"  name="tofixin" type="text" class="form-control">
                    <option ng-repeat="tofixin in config.tofixin.sort()"  value="{{tofixin}}">
                    {{tofixin}}</option>
                </select>
              </div>
            </div>
      <!-- assign to input-->
             <div class="form-group">
              <label class="col-md-2 control-label" for="assignTo">Assign To</label>
              <div class="col-md-3">
                <select id="assignTo" ng-model="assignTo" ng-change="setAssignTo(assignTo)" name="assignTo" type="text" placeholder="Assign to" class="form-control">
                    <option ng-repeat="(key, user) in config.users.sort()"  value="{{user.name}}">
                    {{user.name}}</option>
                </select>
              </div>
            </div>
                  <div class="form-group">
              <label class="col-md-2 control-label" for="category">Category</label>
              <div class="col-md-3">
                <select id="category" ng-model="category" ng-change="setCategory(category)"  name="category" type="text" class="form-control">
                    <option ng-repeat="category in config.categories.sort()"  value="{{category}}">
                    {{category}}</option>
                </select>
              </div>
            </div>
                 <div class="form-group">
              <label class="col-md-2 control-label" for="priority">Priority</label>
              <div class="col-md-6">
                <select id="priority" ng-model="priority" ng-change="setPriority(priority)" name="priority" type="text" class="form-control">
                    <option ng-repeat="priority in config.priority.sort()"  value="{{priority.level}}">
                    {{priority.level}} - {{priority.title}}</option>
                </select>
              </div>
            </div>

<form class="form-inline" role="form">
  <div class="form-group">
    <label class="col-md-2 control-label" for="relation">Relation to parent task</label>
     <div class="col-md-4">    
  <select id="relation" ng-model="relation" ng-change="setRelation(relation)" name="relation" type="text" class="form-control">
                    <option ng-repeat="relation in relatedTasks"  value="{{relation}}">
                    {{relation}}</option>
                </select> 
    </div>
      <div class="form-group">
  <div class="col-md-4">   
    <input class="form-control" ng-model="relatedTo" ng-change="setRelatedTo(relatedTo)" name="relatedTo" type="text" placeholder="task/bug id">
  </div>
  </div>      
  </div>
  </form>
    </accordion-group>
      <accordion-group is-open="true">
      <accordion-heading>
            <i class="glyphicon" ng-class="{'glyphicon-chevron-down': status.open, 'glyphicon-chevron-right': !status.open}"></i>    Environment in which you encountered the bug
        </accordion-heading>
              <div class="form-group">
              <label class="col-md-2 control-label" for="version">Version</label>
              <div class="col-md-3">
                <select id="version" ng-model="version" ng-change="setVersion(version)" name="version" type="text" class="form-control">
                    <option ng-repeat="version in config.version.sort()"  value="{{version}}">
                    {{version}}</option>
                </select>
              </div>
            </div>
             <div class="form-group">
              <label class="col-md-2 control-label" for="platform">Platform</label>
              <div class="col-md-3">
                <select id="platform" ng-model="platform" ng-change="setPlatform(platform)" name="platform" type="text" class="form-control">
                    <option ng-selected="platform === 'all'"  ng-repeat="platform in config.platform.sort()"  value="{{platform}}">
                    {{platform}}</option>
                </select>
              </div>
            </div>

             <div class="form-group">
              <label class="col-md-2 control-label" for="memory">Memory Size</label>
              <div class="col-md-3">
            <input id="memory" ng-model="memory" ng-change="setMemory(memory)" name="memory" type="text" placeholder="" class="form-control">
              </div>
            </div>
             <div class="form-group">
              <label class="col-md-2 control-label" for="processors">Number of Processors</label>
              <div class="col-md-3">
            <input id="processors" ng-model="processors" ng-change="setProcessors(processors)" name="processors" type="text" placeholder="" class="form-control">
              </div>
            </div>
            <div class="form-group">
              <label class="col-md-2 control-label" for="note">Note</label>
              <div class="col-md-7">
           <textarea class="form-control" ng-model="note" ng-change="setNote(note)" id="note" name="note" placeholder="Enter notes for the developer here..." rows="4"></textarea>
              </div>
            </div>
</accordion-group>
        <accordion-group> 
<accordion-heading>
            <i class="glyphicon" ng-class="{'glyphicon-chevron-down': status.open, 'glyphicon-chevron-right': !status.open}"></i>    Support Info
        </accordion-heading>
        <div class="form-group">
              <label class="col-md-2 control-label" for="headline">Headline</label>
              <div class="col-md-3">
            <input id="headline" ng-model="headline" ng-change="setHeadline(headline)" name="headline" type="text" placeholder="" class="form-control">
              </div>
            </div>
             <div class="form-group">
              <label class="col-md-2 control-label" for="description">Description</label>
              <div class="col-md-7">
                <textarea class="form-control" ng-model="supportDescription" ng-change="setSupportDescription(supportDescription)" id="supportDescription" name="supportDescription" placeholder="Provide bug description here..." rows="4"></textarea>
              </div>
              </div>
              <div class="form-group">
              <label class="col-md-2 control-label" for="workaround">Workaround</label>
              <div class="col-md-7">
                <textarea class="form-control" ng-model="workaround" ng-change="setWorkaround(workaround)" id="workaround" name="workaround" placeholder="Provide workaround info here..." rows="4"></textarea>
              </div>
              </div>
               <div class="form-group">
              <label class="col-md-2 control-label" for="publishstatus">Publish Status</label>
              <div class="col-md-7">
              <label ng-repeat="status in config.publishStatus">&nbsp;&nbsp;
               <input type="radio" name="publishStatus" ng-model="publishStatus" ng-change="setPublishStatus(publishStatus)" ng-value="status"/>{{status}}
              </label>
              </div>
              </div>
              <div class="col-md-9">
              <legend><h5>Reference: <a href="http://help.marklogic.com" target="_window">help.marklogic.com</a></h5></legend>  
              <div class="form-group">
              <label class="col-md-3 control-label" for="tickets">Tickets</label>
              <div class="col-md-6">
            <input id="tickets" ng-model="tickets" ng-change="setTickets(tickets)" name="tickets" type="text" placeholder="csv ticket ids" class="form-control">
              </div>
            </div>
            <div class="form-group">
              <label class="col-md-3 control-label" for="customerimpact">Customer Impact</label>
              <div class="col-md-7">
             <select id="customerImpact" ng-model="customerImpact" ng-change="setCustomerImpact(customerImpact)" name="customerImpact" type="text" class="form-control">
                    <option ng-selected="customerimpact.level === 'N/A'"  ng-repeat="customerimpact in config.customerImpact"  value="{{customerimpact.level}}">
                     {{customerimpact.level}} : {{customerimpact.title}}</option>
                </select>
              </div>
            </div>
              </div>
              
        </accordion-group> 

  </accordion>
  </div>
</div>
</div>
     <!-- Form actions -->
            <div class="form-group">
              <div class="col-md-7 text-right">
                <button type="submit" ng-click="createNewBug()"class="btn btn-primary btn-lg">Submit</button>
              </div>
            </div>
          </fieldset>
          </form>
        </div>
      </div>
</div>
</div>